.u-no-select {
  user-select: none;
}

.u-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-flex-column {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-flow: column;
}

.u-flex-end {
  align-items: flex-end;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}
