/**
* Genium
**/
@font-face {
  font-family: 'Gentium';
  src: url('../fonts/Gentium/GentiumBasic-Bold.woff2') format('woff2'), url('../fonts/Gentium/GentiumBasic-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/**
* Montserrat
**/
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/**
* Noto Sans 
**/

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-Thin.woff2') format('woff2'), url('../fonts/NotoSans/NotoSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-ExtraLight.woff2') format('woff2'), url('../fonts/NotoSans/NotoSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-Light.woff2') format('woff2'), url('../fonts/NotoSans/NotoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-Regular.woff2') format('woff2'), url('../fonts/NotoSans/NotoSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-Medium.woff2') format('woff2'), url('../fonts/NotoSans/NotoSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-SemiBold.woff2') format('woff2'), url('../fonts/NotoSans/NotoSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-Bold.woff2') format('woff2'), url('../fonts/NotoSans/NotoSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-ExtraBold.woff2') format('woff2'), url('../fonts/NotoSans/NotoSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-Black.woff2') format('woff2'), url('../fonts/NotoSans/NotoSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
