.cta-font {
  font-family: var(--font-primary);
  font-size: rem(16px);
  font-weight: 700;
}

.footer-h {
  font-family: var(--font-primary);
  font-size: rem(11px);
  font-weight: 700;
  text-transform: uppercase;
}

.footer-link {
  font-family: var(--font-primary);
  font-size: rem(11px);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.block-title {
  font-family: var(--font-primary);
  font-size: rem(36px);
  font-weight: 700;
  line-height: rem(52px);
}

.main-title {
  font-family: var(--font-primary);
  color: white;
  font-size: rem(56px);
  font-style: normal;
  font-weight: 700;
  line-height: rem(65px);
  letter-spacing: 0.05em;
  text-align: left;
}

.main-description {
  font-family: var(--font-primary);
  color: white;
  font-size: rem(22px);
  font-style: normal;
  font-weight: 400;
  line-height: rem(29px);
  letter-spacing: 0em;
  text-align: left;
}
